<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <link rel="shortcut icon" type="image/jpg" href="img/logo3.png"/>

     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="https://kit.fontawesome.com/5aa9262777.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen, projection"/>

    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <header>
        <div class="containerz">
            <div id="branding">
                <h1>
                    <a href="/"><img src="/img/logo3.png"> <span class="highlight">SKYIT </span></a>
                </h1>
            </div>
            <nav>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>  
                    <li><a href="about">About</a></li>  
                    <li><a href="services">services</a></li>  
                    <li class="current"><a href="gallery">Gallery</a></li>  
                </ul>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li class="current"><a href="gallery">Gallery</a></li>
            </ul>
        </div>
    </header>
    
    <div class="body">
    <div class="testimonial">
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="card">
                      <div class="layer"></div>
                      <div class="content">
                          <p>We undertake detail Computer repair works we identify, 
                              troubleshoot and resolving problems in a faulty computer, should 
                            you are interested with custom service, we got you covered!</p>
                          <div class="imgBx">
                              <img src="/img/comp_repair3.jpg">
                          </div>
                          <div class="details">
                              <h2>Computer Hardware<br><span>Repair/Cloning</span></h2>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p> We've honed in on the best access control, 
                            so you can be safe at all times, revitalized, and a reimagined best secured office space 
                            that will allow you work optimally</p>
                        <div class="imgBx">
                            <img src="/img/access2.jpg">
                        </div>
                        <div class="details">
                            <h2>Access Control<br><span>by SkyIT</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p>Managing IT involves more than just making sure everything is working. 
                            At SkyIT, we offer a multi-staged process that assesses your needs, 
                            and spur your company onto greater success.</p>
                        <div class="imgBx">
                            <img src="/img/harry.JPG">
                        </div>
                        <div class="details">
                            <h2>Meet Harry<br><span>Software Designer</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p>Our Home security Service include securing hardware, property 
                            and individuals'. viz, doors, locks, alarm systems, lighting, motion detectors, 
                            and security camera systems.</p>
                        <div class="imgBx">
                            <img src="/img/secured_home.jpg">
                        </div>
                        <div class="details">
                            <h2>Making Your Home<br><span>Secured, is our duty</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p> We are poised to drive the consciousness of renewable energy, 
                            we aim at providing Africa with affordable access to quality and durable solar power systems 
                            bwith ack up service.</p>
                        <div class="imgBx">
                            <img src="/img/solarExh.png">
                        </div>
                        <div class="details">
                            <h2>Making Your Home<br><span>Solar Powered</span></h2>
                        </div>
                    </div>
                </div>
            </div>

          </div>
       </div>
    </div>
    </div>
    <div class="social-media">
        <ul>
            <li><a href="https://www.twitter.com/skyIT/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://web.facebook.com/SkyIT-157943760991439" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/skyit_ltd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li>
            <a href="whatsapp://send?text=Hi, I'd love to know more about your service, I am reaching you from your official webpage!&phone=+2349074444140" target="_blank">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>
      </ul>
       </div>
    <a href="#" class="to-top"><i class="fas fa-angle-double-up"></i></a>

     <footer id="service" class="page-footer light-blue darken-1">
      <div class="container" >
        <div class="row">
          <div class="sep"></div>
          <div class="col s12 m4 l4" style="margin-top: 20px;">
            <img src="/img/locate.png"  style="width: 10%;"  class="responsive-img"><br>
            <p class="grey-text text-lighten-4">
                <h6 class="yellow-text">Head Office</h6>
                    KM 1 DSC Expressway beside Jesus Temple Church,
                    Ebrumede, Effurun-Warri, Delta State
                    <br>
              </p>
          </div>
          <div class="col s12 m4 l4"  style="margin-top: 20px;">
            <img src="/img/locate.png"  style="width: 10%;"  class="responsive-img"><br>
            <p class="grey-text text-lighten-4">
                <h6 class="yellow-text">Branch Office</h6>
                    Manjo Plaza,
                    NNPC Service Station, Ikota,
                  Second Gate, K.M 22, Lekki-Epe, Expressway, Lekki, Lagos
                    <br>
              </p>
          </div>
          <div class="col s12 m4 l4"  style="margin-top: 20px;">
            <img src="/img/locateCall.png"  style="width: 10%;"  class="responsive-img"><br>
            <div><br>
              <span class="white-text">+234-9135396292</span>
              <span class="white-text">+234-9074444140</span><br>
              <span class="white-text">+234-9017777773</span>
              <span class="white-text">+234-9017777774</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright center">
        <div class="container">
          &copy; 1995 -  <span id="date"></span> | <span> SkyIT Ventures Limited. All rights reserved. 
        </div>
      </div>
    </footer>

   
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 0,
            modifier: 1,
            slideShadows: true
        },
        loop: true,
        });
    </script>
     <script>
        document.getElementById('date').innerHTML = new Date().getFullYear();
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/skyit.js"></script>
    
</body>
</html>